/* Спецификация базовых частей*/
body {
    background: url(img/photo.jpg) no-repeat center top/cover;
    background-color: #cccccc;
    background-attachment: fixed ;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15;
    color: #333;
    padding:0 auto;
    margin:0 auto;
}
/* Перший Екран */

.col-8, .col-xl-2, .col-md-5 {
    background: blue;
    border-radius: 8px;
    margin: 10px;
   
}
.link {
    text-decoration:none;
    color:#fff;
    transition: color 0.3s linear;
}
.link:hover {
    color:#444;
}


h1 {
    font-size: 1.25rem;
}

@media (min-width: 320px) {
    h1 { font-size: 1.25  /* волшебное значение от 1.25 rem до 2.5 rem */; }
  }
@media (min-width: 960px) {
    h1 { font-size: 2.5rem; }
  }

