body {
    background: url(img/photo.jpg) no-repeat center top/cover;
    background-color: #cccccc;
    font-family:Arial, sans-serif;
    padding:0;
    margin:0;
}
.col-8, .col-xl-2, .col-md-5 {
    background: blue;
    border-radius: 10px;
    margin: 10px;
    
}

h1 {
    font-size: 1.25rem;
}

@media (min-width: 320px) {
    h1 { font-size: 1.25  /* волшебное значение от 1.25 rem до 2.5 rem */; }
  }
@media (min-width: 960px) {
    h1 { font-size: 2.5rem; }
  }

